<div id="side-bar" class="d-none d-md-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 200px;">
  <a href="/" class="d-flex align-items-center m-3 mb-4">
    <img src="../../../../assets/logo-no-background.png" class="nav-img">
  </a>
  <ul class="nav nav-pills flex-column mb-auto">
    <li *ngFor="let item of mainMenu" class="nav-item">
      <ng-container *ngIf="item.options && item.options.length > 0; else noOptions">
        <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expandeds="false" aria-controls="collapseExample">
          <i class="{{ item.icon }} h3 mb-0"></i>
          <span class="ms-3">{{ item.name }}</span>
        </button>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <p *ngFor="let option of item.options">
              <span class="dropdown-item">{{ option }}</span>
            </p>
          </div>
        </div>
      </ng-container>
      <ng-template #noOptions>
        <a [routerLink]="item.router" class="nav-link" aria-current="page">
          <i class="{{ item.icon }} h3 mb-0"></i>
          <span class="ms-3">{{ item.name }}</span>
        </a>
      </ng-template>
    </li>

    <!-- <li *ngFor="let item of mainMenu" class="nav-item">
            <a href="#" class="nav-link" aria-current="page">
                <i class="{{ item.icon }} h3 mb-0"></i>
                <span class="ms-3">{{ item.name }}</span>
            </a>
        </li> -->
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>{{ username }}</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><button class="btn" (click)="onLogout()">Logout</button></li>
    </ul>
  </div>
</div>